/* fuentes */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Montserrat.woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Lato.woff');
}


body {
    width: 100%;
    height: 100%;
    font-family: 'Lato',sans-serif;
	font-weight: 300;
    color: #666;
    background-color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 1.6em;
}

p.lead {
	font-weight: 600;
}

a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #176e61;
}


/* Barra de navegacion */

.navbar {
        padding: 8px 0;
        letter-spacing: 1px;
        background-color: #67b0d1;
        margin-bottom: 0;
    	border-bottom: 1px solid rgba(255,255,255,.3);
}

.navbar ul li a {
	color:white;
	font-weight:700;
}

/* intro */
.intro {
	width:100%;
	height: 100%;
    padding: 0;
	position:relative;
	padding:20% 0 0 0;
	background: url(../img/bg1.jpg) no-repeat top center;
}

.slogan {
	text-align: center;

}

.intro .slogan h2 {
	color: #FFF;
	text-shadow: none;
	font-size: 60px;
	line-height: 60px;
	
	font-weight: 700;
	font-family: Montserrat, sans-serif;
	background-color: rgba(0, 0, 0, 0);
	text-decoration: none;
	text-transform: uppercase;
	
	text-shadow: -1px 0 1px #000;
}

.intro .slogan h4 {
	color: #FFF;
	text-shadow: none;
	font-size: 18px;
	
	font-weight: 700;
	font-family: Montserrat, sans-serif;
	background-color: rgba(0, 0, 0, 0);
	text-decoration: none;
	text-transform: uppercase;
	
	text-shadow: -1px 0 1px #000;
}


/* Sections en general */

.home-section {
    padding-top: 55px;
    padding-bottom: 55px;
	display:block;
    position:relative;
    z-index:120;
}

.section-heading h2 {
	font-size: 40px;
}
.section-heading i {
	margin-bottom: 20px;
}

/* about */
.boxed-grey {
	margin-bottom: 30px;
	background: #d4d4d4;
	padding: 20px;
}

.boxed-grey h5 {
	margin-bottom: 10px;
}

.boxed-grey p.subtitle {
	margin-bottom: 10px;
}

.avatar {
	margin-bottom: 20px;
}

/* services */

.service-icon {
	margin-bottom: 20px;
}


/* ContactUs */

.widget-contact {
	text-align: left;
}

.company-social {
	
}

.company-social {
	margin-left: 0;
	padding-left: 0;
	margin-top: 10px;
	text-align: left;
}

.company-social li{
    display: inline-block;
	margin:0 !important;
	padding:0;
}


.company-social a{
	margin:0;
	padding:0;
    display: block;
	width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
	color: #fff;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.company-social a i{
	text-align: center;
	margin:0;
	padding:0;
}

.social-facebook a{background: #3873ae;}
.social-twitter a{background: #62c6f8;}
.social-dribble a{background: #d74980;}
.social-google a{background: #000;}

.social-facebook a:hover{background: #4893ce;}
.social-twitter a:hover{background: #82e6ff;}
.social-dribble a:hover{background: #f769a0;}
.social-google a:hover{background: #333;}


/* misc */
hr {
  margin-top: 10px;
}

.marginbot-0{margin-bottom:0 !important;}
.marginbot-10{margin-bottom:10px !important;}
.marginbot-20{margin-bottom:20px !important;}
.marginbot-30{margin-bottom:30px !important;}
.marginbot-40{margin-bottom:40px !important;}
.marginbot-50{margin-bottom:50px !important;}

.bg-gray {
	background: #eaeaea;
}


/* form */

form#contact-form label {
	text-align: left !important;
	display: block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
}
form#contact-form input,form#contact-form select,form#contact-form textarea {
	border-radius: 0;
	border: 1px solid #eee;
    -webkit-box-shadow: none;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .05);
          box-shadow:  2px 2px 2px rgba(0, 0, 0, .05);
}

/* Footer */

footer {
	text-align: center;
	padding: 50px 0 ;
	background-color: #67b0d1;
	
}

footer p {
	color: #f8f8f8;
}

.page-scroll a.btn-circle {
		width: 40px;
		height: 40px;
		margin-top: 10px;
		padding: 7px 0;
		border: 2px solid #fff;
		border-radius: 50%;
		font-size: 20px;
}


.btn {
	border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 40px;
    color: #fff;
    background: 0 0;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}