

@media (min-width: 600px) and (max-width: 1200px) {
    .contenido-libro {
        column-count: 3;
        column-gap: 20px;
    }
}

@media (min-width: 1200px) {
    .contenido-libro {
        column-count: 3;
        column-gap: 40px;
    }
}