body{
background:#FFF;

}

*{
margin:0;
}


header{
width:960px;
background:#00FF00;
}

section{
float:left;
background:#0000FF;
width:760px;
height:500px;
}

nav{
height:50px;
background:#FF0000;
width:960px;
}

aside{
float:left;
background:#FFFF00;
width:200px;
height:500px

} 

footer{
background:#FF0000;
width:960px;
height:50px;
clear:both;
}

li{
float:left;
padding-left:20px;
list-style-type:none;
}
